/* Common */
body{
    color: white;
    position: relative;
}

/* bg-colors */
.bg-1{
    background-color:#2c3e50;
}
.bg-1-300{
    background-color:#3a546d;
}

.bg-2{
    background-color:#1abc9c;
}

/* Header */
header{
    position: fixed;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    top:0;
    right: 0;
    height: 80px;
    line-height: 80px;
    background-color:#2c3e50;
}
.header h2{
    margin-bottom: 0px;
}

.menu{
    background: transparent;
    border:none
    
}
.menu i {
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px 10px;
    color: white;
}

.menu-list a{
    color: white;
    font-weight: 500;
    text-decoration: none;
    padding: 0 10px;

}
/* Main */
/* Hero */
.hero{
    background-color: cyan;
    margin-top: 80px;
}
.hero-img{
    width: 150px;
    height: 150px;
    background-color: crimson;
    margin: 30px 0  ;
}

.card{
    height: 250px;
    border-radius: 10px;
    background-color: darkorchid;
    margin: 10px 0;
}

.card-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: darksalmon;
}
/* Portfolio */
.title-center{
    text-align: center;
}
.portfolio h2{
    padding: 10px 0;
}
 /* About */
.about{
    background-color: royalblue;
}
.my_container_sm{
    max-width: 1000%;
    width: 70%;
    margin: auto;
}


/* Contact */


/* Footer */

