/* Common */
body{
    color: white;
    position: relative;
}

section{
    padding: 40px;
}
.separator{
    margin: 10px 0;
}
.separator .left, .separator .right{
    width: 100px;
    height: 3px;
    background-color: white;
}
.separator .center{
    margin: 0 15px;
}
.separator.dark i{
    color: #2c3e50;
}
.separator .left.dark, .separator .right.dark{
    width: 100px;
    height: 3px;
    background-color:  #2c3e50;
}


/* bg-colors */
.bg-1{
    background-color:#2c3e50;
}
.bg-1-300{
    background-color:#3a546d;
}

.bg-2{
    background-color:#1abc9c;
}

/* Header */
header{
    position: fixed;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    top:0;
    right: 0;
    height: 80px;
    line-height: 80px;
    background-color:#2c3e50;
}
.header h2{
    margin-bottom: 0px;
}

.menu{
    background: transparent;
    border:none
    
}
.menu i {
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px 10px;
    color: white;
}

.menu-list a{
    color: white;
    font-weight: 500;
    text-decoration: none;
    padding: 0 10px;

}
/* Main */
/* Hero */
#hero{
    margin-top: 80px;
}
.hero-img{
}
.hero-img img{
    margin: 20px 0;
    width: 200px;
}

.card{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;
}

.card-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: darksalmon;
}
/* Portfolio */
#portfolio h2{
    color: #333333;
    margin-bottom: 20px;
}
 /* About */
.my_container_sm{
    max-width: 1000%;
    width: 70%;
    margin: auto;
}

.btn-outline-primary{
    color: white;
    border-color: white;
}
/* Contact */
#contact h2{
    color: #333333;
    margin-bottom: 20px;
}

/* Footer */

